<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/css.css">
    <link rel="icon" href="./img/weather.png">
    <title>404</title>

</head>

<body>
  <div class='main'>
  {{>header}}
  <h1>{{message}}</h1>
  </div>
  {{>footer}}

</body>

</html>