<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/css.css">
    <link rel="icon" href="./img/weather.png">
    <title>about</title>

</head>

<body>

    <div class='main'>
    {{>header}}
    <img class="image" src="./img/me.png">


    <p>Just a test site</p>
    </div>
    {{>footer}}

</body>

</html>