<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/css.css">
    <link rel="icon" href="./img/weather.png">
    <title>help</title>

</head>

<body>
    <div class='main'>
    {{>header}}
    </div>
    {{>footer}}
</body>

</html>